<!-- MOBILE MENU -->
    <div class="aali_tm_mobile_menu">
        <div class="mobile_menu_inner">
            <div class="mobile_in">
                <div class="logo">
                      <h3>Sean Code Media</h3>
                 <!--    <a href="#"><img src="img/logo/dark.png" alt="" /></a> -->
                </div>
                <div class="trigger">
                    <div class="hamburger hamburger--slider">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown_inner">
                <ul class="anchor_nav">
                    <li class="current"><a href="/">Home</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/videos">Videos</a></li>
                   <!--  <li><a href="#testimonial">Testimonial</a></li> -->
                    <li><a href="/tutorials/">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
<!-- /MOBILE MENU -->

<!-- HEADER -->
    <div class="aali_tm_header">
        <div class="container">
            <div class="inner">
                <div class="logo">
                   <h3>Sean Code Media</h3>
                   <!--  <a href="#"><img src="img/logo/logo.png" alt="" /></a> -->
                </div>
                <div class="menu">
                    <ul class="anchor_nav">
                        <li class="current"><a href="/">Home</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/videos">Videos</a></li>
                        <li><a href="/tutorials/">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!-- /HEADER -->